<div style="text-align : center">

    <div class = "jh_header_logo">

        <h1>JH</h1>
    </div>

    <div class = "jh_header_button">
        <span>nav1</span>
        <span>nav2</span>

        {%  if not user.is_authenticated %}


        <span>
            <a href="{% url 'accountapp:login' %}" >
                Log in
            </a>

        </span>

        <span>
            <a href="{% url 'accountapp:create' %}" >
                Sign up
            </a>

        </span>

        {% else %}
        <span>

            <a href="{% url 'accountapp:logout' %}"}></a>
               Logout
            </a>

        </span>

        {% endif %}

    </div>

</div>